@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primary-color: #d67c41;
  --secondary-color: #8c3131;
  --dark-color: #333;
  --light-color: #f4f4f4;
}
/* Start of basic css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: #111;
}
a {
    text-decoration: none;
  }
  
  p {
    margin: 0.75rem 0;
  }
  
  .list {
    list-style: none;
    margin: 0.5rem 0;
  }
  .l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
  }
  
  .m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
  }
  
  .bg-light {
    background: var(--light-color);
    color: var(--dark-color);
  }
  .bg-dark {
    background: var(--dark-color);
    color: #fff;
  }
  
  .bg-primary {
    background: var(--primary-color);
    color: #fff;
  }
  .bg-secondary {
    background: var(--secondary-color);
    color: #fff;
  }
  
  .lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .btn {
    display: inline-block;
    color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: none;
  }
  
  .btn:hover {
    background: #ffa160;
  }
  
  .btn-dark {
    background: var(--dark-color);
  }
  .btn-dark:hover {
    background: #555;
  }
  .btn-trans {
    background-color: transparent;
    border: 2px solid var(--primary-color);
  }
  .btn-showcase {
    border: 2px solid var(--primary-color);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .text-secondary {
    color: var(--secondary-color);
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
  }
  #navbar {
    position: sticky;
    color: #fff;
    background: var(--dark-color);
    top: 0;
    z-index: 1;
  }
  #navbar .container {
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
  }
  #navbar img {
    padding-top: 0.5rem;
    max-width: 100%;
    height: 50px;
  }
  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  #navbar ul li a {
    font-size: 1.2rem;
    display: flex;
    color: #fff;
    margin: 0 1rem;
    border-bottom: 6px transparent solid;
    padding: 1rem 0;
    transition: all 0.5s;
  }
  #navbar ul li a:hover {
    color: #d6d6d6;
    border-color: var(--secondary-color);
  }
  
  #navbar ul li .current {
    border-color: var(--primary-color);
  }
  
  #navbar ul li .current:hover {
    color: #fff;
    border-color: var(--primary-color);
  }
  .head1{
    width: 30%;
    height: 20%;
    margin: 20px 630px;
    font-size: 23px;
    color:#d67c41 ;


  }
  .image {
      width: 30%;
      height: 20%;
      margin: 30px 550px;
      border-radius: 30px;
  } 
  .head{
    width: 30%;
    height: 20%;
    margin: 5px 650px;
    color:#d67c41 ;

  }
  .head2{
    width: 30%;
    height: 20%;
    margin: 10px 550px;
    font-size: 23px;
    color:#d67c41 ;
    
  }
  .image1 {
    width: 30%;
    height: 20%;
    margin: 30px 550px;
    border-radius: 40px;
} 
.line{
    margin:20px 300px;
   
}
.head4{
    width: 30%;
    height: 20%;
    margin: 10px 900px;
    font-size: 23px;
    color:#d67c41 ;

}
.foote{
   background-color: #333;
    width: 100%;
    height: 400px;
    color: #8a7b7b;
   
   
}
.foot{
    margin: 3px;
    margin-top: 4px;
    margin-left: 700px;
  margin-right: 200px;
  display: inline;
}
.foot2{
    margin-top: 60px;
    margin-left: 20px;
}
a:hover{
    color:#d67c41;
}
.in1{
 
    width: 200px;
    height: 40px;
    border-radius: 30px;
    padding: 15px;
    margin-left: 650px;
    margin-right: 200px;
    background-color: #bdb3b3;

}

.button1{
  width: 100px;
  height: 30px;
  border-radius:25px ;
  background-color: #857676;
  margin: 9px 700px;
  
}
.button1:hover{
  transform: scale(1.1,1.2);
  transition: 0.5s;
  background-color: #d67c41;

}
/*
@media (max-width:700px ) {
  .body{
    justify-content: center;
    flex-wrap: wrap;
   flex-direction: column;
  }
  
}
*/
